@{
    ViewData["Title"] = "Home Page";

        string usuario = "";
        if (ViewData["Usuario"] != null)
            usuario = ViewData["Usuario"].ToString();
  
}

<div class="text-center">
    <h1 class="display-4">Bienvenido @usuario</h1>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
